In [8]:
import pandas as pd
from datetime import datetime

In [2]:
df = pd.read_csv('../raw_data/calendar.csv')

In [3]:
df.head(4)

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,70586,2019-11-08,f,$139.00,$139.00,3.0,365.0
1,3109,2019-11-09,f,$60.00,$60.00,2.0,30.0
2,3109,2019-11-10,f,$60.00,$60.00,2.0,30.0
3,3109,2019-11-11,f,$60.00,$60.00,2.0,30.0

In [4]:
df['date'] = pd.to_datetime(df['date'])

In [5]:
df['Month'] = df['date'].dt.month

In [6]:
df['Year'] = df['date'].dt.year

In [7]:
df['occupied'] = df['available'].apply(lambda x: 1 if x == 'f' else 0)

In [9]:
df['next_6_month'] = df['date'].apply(lambda x: 1 if x < datetime(2020, 5, 1) and x > datetime(2019, 12, 1) else 0)

In [10]:
df = df[df['next_6_month'] == 1]

In [13]:
df_agg = df.groupby(by='listing_id', as_index=False).agg({'occupied': 'mean'})

In [15]:
df_agg.to_csv('../generated_data/6month_occupancy.csv', index=False)

In [17]:
df_agg

       listing_id  occupied
0            3109  0.450331
1            5396  0.370861
2            7397  0.364238
3            7964  0.000000
4            9359  0.801325
5            9952  0.152318
6           10586  0.980132
7           10588  1.000000
8           10710  1.000000
9           11170  0.807947
10          11213  0.052980
11          11265  1.000000
12          11798  0.000000
13          11848  0.132450
14          12268  1.000000
15          12452  1.000000
16          14264  0.000000
17          14757  0.834437
18          16048  0.754967
19          16455  1.000000
20          16457  0.993377
21          16626  0.278146
22          17316  1.000000
23          17918  1.000000
24          17919  1.000000
25          17994  0.000000
26          18993  0.986755
27          19029  0.198675
28          19150  1.000000
29          19306  0.350993
...           ...       ...
65463    39936344  0.953642
65464    39936465  0.132450
65465    39936714  0.092715
65466    39936735  0.894040
65467    39936737  1.000000
65468    39936938  0.754967
65469    39937171  0.079470
65470    39937284  0.158940
65471    39937293  0.000000
65472    39937548  0.218543
65473    39937779  0.562914
65474    39937863  0.947020
65475    39938172  1.000000
65476    39938382  0.245033
65477    39938540  0.913907
65478    39938894  1.000000
65479    39939366  1.000000
65480    39939891  0.907285
65481    39940032  1.000000
65482    39940716  0.960265
65483    39941017  0.913907
65484    39941302  0.675497
65485    39941802  0.000000
65486    39942416  0.615894
65487    39942977  0.609272
65488    39943010  0.986755
65489    39945502  0.000000
65490    39946052  0.927152
65491    39948209  1.000000
65492    39948388  0.940397

[65493 rows x 2 columns]